<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurant"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ this.menus?menus.nom:"empty" }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <ion-grid *ngIf="menus">
    <ion-row class="">
      <ion-col *ngFor="let menu of menus.menus; let i = index" size="6">
        <ion-card
          [routerLink]="['/client/plats',menu.id]"
          class="ion-no-margin"
        >
          <ion-card-content class="ion-no-padding">
            <ion-img
              style="height: 100%; width: 100%"
              [src]="menu.images[0].uri"
            >
            </ion-img>
          </ion-card-content>
          <ion-card-header class="ion-text-center ion-no-padding">
            <ion-card-subtitle>{{ menu.nom }}</ion-card-subtitle>
            <!-- <ion-card-title>Card Title</ion-card-title> -->
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
