* {
  font-family: "Roboto", sans-serif;
}


.btn__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .btn {
    min-width: 110px;
    background-color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #C71E7E;
    display: flex;
    transition: all .2s ease-in-out;
   margin-right: 10px;


}

.btn-f {
    min-width: 110px;
    background-color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #286ED6;
    display: flex;
    transition: all .2s ease-in-out;
    margin-right: 10px;


}

