<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="commande" fullscreen="true">
  <ion-slides class="" pager="true">
    <ion-slide *ngFor="let image of commande.plat.images; let i = index">
      <ion-item lines="none">
        <ion-img [src]="image.uri"></ion-img>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <div class="details-content">
    <header class="meal-name ion-margin-top">
      <h1 class="ion-no-margin ion-text-center">{{ commande.plat.nom }}</h1>
    </header>
    <div class="description ion-padding" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col>
            <b style="font-family: Bahnschrift, sans-seri">La somme : </b>
          </ion-col>
          <ion-col> {{ commande.total }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b style="font-family: Bahnschrift, sans-seri">La Quantite : </b>
          </ion-col>
          <ion-col>
            {{
            formatNumber(commande.quantity)+'x'+formatNumber(commande.plat.price)
            + ' Dhs' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b style="font-family: Bahnschrift, sans-seri">La Date : </b>
          </ion-col>
          <ion-col style="font-size: small"> {{ commande.date }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b style="font-family: Bahnschrift, sans-seri"> Restaurant : </b>
          </ion-col>
          <ion-col>
            <span [routerLink]="['/client/restaurant/',commande.restaurant.id]">
              {{ commande.restaurant.nom }}
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <b style="font-family: Bahnschrift, sans-seri"> Plat : </b>
          </ion-col>
          <ion-col>
            <span [routerLink]="['/client/single-plat/',commande.plat.id]">
              {{ commande.plat.nom }}
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item
      class="description ion-padding"
      style="font-family: Bahnschrift, sans-seri"
      lines="none"
    >
      <b> Description : </b> {{ commande.plat.description }}
    </ion-item>
    <div class="accompat">
      <header class="ion-text-start ion-margin-start">
        <u> Accompagnants : </u>
      </header>
      <ion-list
        class="ion-padding"
        *ngIf="commande.plat.accompagnants.length !== 0"
      >
        <ion-item
          *ngFor="let acc of commande.accompagnants; let i = index"
          lines="none"
          class="ion-padding-horizontal accompat-elt"
        >
          <label slot="start" class="ion-no-margin accompat-elt-name"
            >{{ acc.title }} :
          </label>
          <span class="ion-no-margin price" slot="end"
            >{{ formatNumber(acc.pivot.quantity)+'x'+acc.prix }}Dhs</span
          >
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
