<ion-header>
  <ion-toolbar>
    <ion-title>client-support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div style="margin: 6%; margin-top: 25%;" >
  <form>
    <ion-input name="name" type="text" class="feedback-input" placeholder="Name" ></ion-input>

    <ion-input name="email" type="text" class="feedback-input" placeholder="Email" ></ion-input>

    <ion-textarea id="tx" name="text" class="feedback-input" placeholder="Message"></ion-textarea>

    <input type="submit" value="SUBMIT"/>

    </form>

  </div>
</ion-content>
