<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <div id="icon-image">
    <ion-thumbnail class="ion-margin-bottom">
      <ion-img src="./assets/undraw_chef_cu-0-r.svg"></ion-img>
    </ion-thumbnail>
    <ion-label class="ion-margin-top">
      <h2>Joindre nos restaurants</h2>
    </ion-label>
  </div>
  <ion-grid class="ion-margin-top">
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <form>
        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Nom restaurant</ion-label
          >
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Nom gerant</ion-label
          >
          <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Prenom gerant</ion-label
          >
          <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Email</ion-label
          >
          <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Description</ion-label
          >
          <ion-textarea auto-grow="true" rows="5"></ion-textarea>
        </ion-item>

        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Adresse</ion-label
          >
          <ion-textarea rows="3"></ion-textarea>
        </ion-item>

        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Ville</ion-label
          >
          <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Mot de passe</ion-label
          >
          <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Confirmer mot de passe</ion-label
          >
          <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-row class="ion-margin-vertical">
          <ion-col
            style="display: flex"
            class="ion-justify-content-center ion-align-items-center"
          >
            <ion-button
              class="ion-text-capitalize"
              type="submit"
              color="main-yellow"
              expand="block"
              shape="round"
              strong="true"
              >Sign Up</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
