<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" #map></div>

  <ion-list class="ion-padding" select-on-focus>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Pizza Margarita</span>
        <span class="value"
          >5<ion-icon size="small" name="star-outline"></ion-icon
        ></span>
      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Pannini</span>
        <span class="value"
          >4.6<ion-icon size="small" name="star-outline"></ion-icon
        ></span>
      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Tacos Dinde</span>
        <span class="value"
          >5.4<ion-icon size="small" name="star-outline"></ion-icon
        ></span>
      </article>
    </ion-item>
    <!--  -->
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Pizza fruit de mer</span>
        <span class="value"
          >3.5<ion-icon size="small" name="star-outline"></ion-icon
        ></span>
      </article>
    </ion-item>

    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Pizza Viande hachee</span>
        <span class="value"
          >2<ion-icon size="small" name="star-outline"></ion-icon
        ></span>
      </article>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer
  class="ion-padding-end"
  style="display: flex; align-items: center; justify-content: center"
>
  <ion-searchbar style="width: 75%" debounce="100"></ion-searchbar>
  <!-- <ion-button color="medium">Medium</ion-button> -->
  <ion-button
    shape="round"
    style="display: inline-block; width: 25%; height: 60%"
    color="dark"
    >Trouver</ion-button
  ></ion-footer
>
