<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client"></ion-back-button>
    </ion-buttons>
    <ion-title>Near by</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      debounce="1500"
      inputmode="numeric"
      animated="true"
      placeholder="Search by id"
      (ionChange)="search($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" #map></div>

  <ion-list class="ion-padding-vertical" select-on-focus>
    <ion-item
      (click)="navigateRestaurant(result.id)"
      class="new ion-no-padding"
      *ngIf="result !== null"
      lines="none"
    >
      <ion-avatar style="width: 23vw; height: 23vw" class="ion-margin-end">
        <img src="assets/restau.jpg" alt="" />
      </ion-avatar>
      <ion-label>
        <h3 class="name">{{ result.nom }}</h3>
        <p class="info">8am to 6pm</p>
        <p class="info ion-text-wrap">{{ result.adresse}}</p>
        <p class="rate">
          3.5
          <ion-icon class="star-icon" name="star"></ion-icon>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer
  class="ion-padding-end"
  style="display: flex; align-items: center; justify-content: center"
>
</ion-footer>
