<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="">
      <ion-col size="6">
        <ion-card [routerLink]="['orders']" class="ion-no-margin">
          <div>
            <ion-img src="assets/to-do-list.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Les commandes</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['menu']" class="ion-no-margin">
          <div>
            <ion-img src="assets/menu.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Menu</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['reviews']" class="ion-no-margin">
          <div>
            <ion-img src="assets/rate.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Rating</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['statistics']" class="ion-no-margin">
          <div>
            <ion-img src="assets/bar-chart.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Statistiques</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/customer.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Clients</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/customer-support.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Support</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
