<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>restaurant-dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="">
      <ion-col size="6">
        <ion-card [routerLink]="['nearby']" class="ion-no-margin">
          <div>
            <ion-img src="assets/to-do-list.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Les commandes</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['orders-history']" class="ion-no-margin">
          <div>
            <ion-img src="assets/menu.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Menu</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['favorite-restaurants']" class="ion-no-margin">
          <div>
            <ion-img src="assets/rating.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center"  >Rating</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/trend.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Statistiques</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/teamwork.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Les Clients</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/customer-support.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Support</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
