<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="client"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list
    class="ion-padding"

    select-on-focus
  >
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Nacer EC</span>
        <span class="value">25<ion-icon size="large" name="bag-handle-outline"></ion-icon></span>



      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Nicola Tesla</span>
        <span class="value">16<ion-icon size="large" name="bag-handle-outline"></ion-icon></span>
      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Bill Gates</span>
        <span class="value">08<ion-icon size="large" name="bag-handle-outline"></ion-icon></span>
      </article>
    </ion-item>
    <!--  -->
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name"> Karl Max</span>
        <span class="value">07<ion-icon size="large" name="bag-handle-outline"></ion-icon></span>
      </article>
    </ion-item>

    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name"> Gustavo Fring </span>
        <span class="value">02 <ion-icon size="large" name="bag-handle-outline"></ion-icon></span>
      </article>
    </ion-item>
  </ion-list>




</ion-content>
