<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurant"></ion-back-button>
    </ion-buttons>
    <ion-title>Commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-vertical">
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Commande<span class="num"> N:152</span> </span>

        <span class="name">Restaurant: <b> Pollos Her</b> </span>
        <br />

        <span class="name">La date : <b> 20/1/2022</b> </span>

        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
  </ion-list>
</ion-content>
