<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurant"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-slides class="" pager="true">
    <ion-slide>
      <ion-item lines="none">
        <ion-img
          src="assets/side-view-pizza-with-chopped-pepper-board-cookware(1).jpg"
        ></ion-img>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-item lines="none">
        <ion-img src="assets/pexels-pixabay-357756.jpg"></ion-img>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-item lines="none">
        <ion-img src="assets/pexels-nadezhda-moryak-4409273.jpg"></ion-img>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <div class="details-content">
    <header class="meal-name ion-margin-top">
      <h1 class="ion-no-margin ion-text-center">Pizza</h1>
    </header>
    <ion-item class="description ion-padding" lines="none">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      repudiandae alias praesentium consequuntur, nihil deserunt consequatur
      vitae numquam minus delectus, dignissimos, nam cupiditate illum placeat
      eius neque quo dolor aspernatur?
    </ion-item>
    <div class="accompat">
      <header class="ion-text-start ion-margin-start">Accompagnants :</header>
      <ion-list class="ion-padding">
        <ion-item lines="none" class="accompat-elt">
          <label slot="start" class="accompat-elt-name">Pepsi : </label>
          <div slot="end">
            <ion-button slot="start" class="accompat-elt-btns"> - </ion-button>
            <span class="accompat-elt-qte ion-margin-horizontal">1</span>
            <ion-button slot="end" class="accompat-elt-btns"> + </ion-button>
          </div>
        </ion-item>
        <ion-item lines="none" class="accompat-elt">
          <label slot="start" class="accompat-elt-name">Pepsi : </label>
          <div slot="end">
            <ion-button slot="start" class="accompat-elt-btns"> - </ion-button>
            <span class="accompat-elt-qte ion-margin-horizontal">1</span>
            <ion-button slot="end" class="accompat-elt-btns"> + </ion-button>
          </div>
        </ion-item>
        <ion-item lines="none" class="accompat-elt">
          <label slot="start" class="accompat-elt-name">Pepsi : </label>
          <div slot="end">
            <ion-button slot="start" class="accompat-elt-btns"> - </ion-button>
            <span class="accompat-elt-qte ion-margin-horizontal">1</span>
            <ion-button slot="end" class="accompat-elt-btns"> + </ion-button>
          </div>
        </ion-item>
        <ion-item lines="none" class="accompat-elt">
          <label slot="start" class="accompat-elt-name">Pepsi : </label>
          <div slot="end">
            <ion-button slot="start" class="accompat-elt-btns"> - </ion-button>
            <span class="accompat-elt-qte ion-margin-horizontal">1</span>
            <ion-button slot="end" class="accompat-elt-btns"> + </ion-button>
          </div>
        </ion-item>
        <ion-item lines="none" class="accompat-elt">
          <label slot="start" class="accompat-elt-name">Pepsi : </label>
          <div slot="end">
            <ion-button slot="start" class="accompat-elt-btns"> - </ion-button>
            <span class="accompat-elt-qte ion-margin-horizontal">1</span>
            <ion-button slot="end" class="accompat-elt-btns"> + </ion-button>
          </div>
        </ion-item>
        <ion-item lines="none" class="accompat-elt">
          <label slot="start" class="accompat-elt-name">Pepsi : </label>
          <div slot="end">
            <ion-button slot="start" class="accompat-elt-btns"> - </ion-button>
            <span class="accompat-elt-qte ion-margin-horizontal">1</span>
            <ion-button slot="end" class="accompat-elt-btns"> + </ion-button>
          </div>
        </ion-item>
        <ion-item lines="none" class="accompat-elt">
          <label slot="start" class="accompat-elt-name">Pepsi : </label>
          <div slot="end">
            <ion-button slot="start" class="accompat-elt-btns"> - </ion-button>
            <span class="accompat-elt-qte ion-margin-horizontal">1</span>
            <ion-button slot="end" class="accompat-elt-btns"> + </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-fab vertical="bottom" slot="fixed">
    <ion-button
      expand="full"
      shape="round"
      color="main-yellow"
      (click)="showPrompt()"
    >
      <label class="ion-text-start">Acheter</label>
      <label class="price ion-text-end"> 95 MAD </label>
    </ion-button>
  </ion-fab>
</ion-content>
