ion-content {
  top: -44px;

  ion-item.description {
    font-size: 1rem;
  }
}
ion-slides {
  height: 100vw;
  ion-item {
    height: 100%;
    width: 100%;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    ion-img {
      height: 100%;
      width: 100%;
    }
  }
}
.details-content {
  transform: translateY(-6vh);
  z-index: 2;
  position: relative;
  background-color: #fff;
  border-radius: 7% 7% 0 0;
  margin-bottom: 10vh;

  .meal-name {
    padding-top: 2vh;
    h1 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  .accompat {
    header {
      color: var(--ion-color-grey-text-color);
    }
    .accompat-elt {
      padding-bottom: 5%;
    }
    .accompat-elt-name {
      font-size: 0.9rem;
    }
    .accompat-elt-qte {
      vertical-align: middle;
      height: 100%;
    }
    .accompat-elt-btns {
      border-radius: 50%;
      --box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 3px;
      width: 35px;
      height: 35px;
      --border-radius: 50%;
      background-color: var(--ion-color-light-grey-color);
      --background: var(--ion-color-light-grey-color);
      --background-hover: var(--ion-color-light-grey-color);
      --color: #000;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
ion-fab {
  width: 100%;
  bottom: 0;
  height: 8vh;
  ion-button {
    margin: auto;
    height: 90%;
    width: 90%;
    label {
      color: #fff;
      display: block;
      width: 70%;
      float: left;
      margin: 0;
      font-size: 1.2rem;
    }
    label.price {
      font-weight: 600;
      float: right;
      width: 30%;
    }
  }
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-header {
  --background: transparent;
  --ion-color-base: transparent !important;
}
