<ion-header>
  <ion-toolbar>
    <ion-title>restaurant-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head">
            <div class="profile mr-3">
              <img
                src="assets/restau.jpg"
                alt="..."
                width="130"
                class="rounded mb-2 img-thumbnail"
              />
              <a href="#" class="btn btn-outline-dark btn-sm btn-block"
                >Edit profile</a
              >
            </div>
            <div class="media-body mb-5 text-white">
              <h4 class="mt-0 mb-0">Mark Williams</h4>
              <p class="small mb-4">
                <i class="fas fa-map-marker-alt mr-2"></i>New York
              </p>
            </div>
          </div>
        </div>

        <br /><br />
        <div class="py-4 px-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <section class="gallery">
              <div class="gallery__item">
                <input
                  type="radio"
                  id="img-1"
                  checked
                  name="gallery"
                  class="gallery__selector"
                />
                <img
                  class="gallery__img"
                  src="https://picsum.photos/id/1015/600/400.jpg"
                  alt=""
                />
                <label for="img-1" class="gallery__thumb"
                  ><img src="https://picsum.photos/id/1015/150/100.jpg" alt=""
                /></label>
              </div>
              <div class="gallery__item">
                <input
                  type="radio"
                  id="img-2"
                  name="gallery"
                  class="gallery__selector"
                />
                <img
                  class="gallery__img"
                  src="https://picsum.photos/id/1039/600/400.jpg"
                  alt=""
                />
                <label for="img-2" class="gallery__thumb"
                  ><img src="https://picsum.photos/id/1039/150/100.jpg" alt=""
                /></label>
              </div>
              <div class="gallery__item">
                <input
                  type="radio"
                  id="img-3"
                  name="gallery"
                  class="gallery__selector"
                />
                <img
                  class="gallery__img"
                  src="https://picsum.photos/id/1057/600/400.jpg"
                  alt=""
                />
                <label for="img-3" class="gallery__thumb"
                  ><img src="https://picsum.photos/id/1057/150/100.jpg" alt=""
                /></label>
              </div>
              <div class="gallery__item">
                <input
                  type="radio"
                  id="img-4"
                  name="gallery"
                  class="gallery__selector"
                />
                <img
                  class="gallery__img"
                  src="https://picsum.photos/id/106/600/400.jpg"
                  alt=""
                />
                <label for="img-4" class="gallery__thumb"
                  ><img src="https://picsum.photos/id/106/150/100.jpg" alt=""
                /></label>
              </div>
            </section>
          </div>
          <h6><b>Addresse :</b></h6>
          <p>fes 22 rue youssef bno tachfine</p>
          <h6><b>Description :</b></h6>
          <p>la cuisine japonaise</p>
          <h6><b> Nom gerant :</b> Gaustavo fring</h6>

          <h6><b> Tel :</b> 0657813456</h6>

          <app-social-media-icons-component></app-social-media-icons-component>
        </div>
      </div>
    </div>
  </div>
</ion-content>
