<ion-header class="ion-no-border">
  <ion-toolbar class="text-center">
    <ion-title class="ion-no-padding ion-padding-start ion-margin-start"
      >Discovery</ion-title
    >
    <div
      class="popover-button ion-no-padding ion-text-center"
      (click)="presentPopover($event)"
      slot="end"
      lines="none"
    >
      <img src="assets/user.svg" alt="photo de profile" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="">
      <ion-col size="6">
        <ion-card [routerLink]="['nearby']" class="ion-no-margin">
          <div>
            <ion-img src="assets/nearby.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Nearby</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['orders-history']" class="ion-no-margin">
          <div>
            <ion-img src="assets/shopping-bag.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Mes Commandes</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['favorite-restaurants']" class="ion-no-margin">
          <div>
            <ion-img src="assets/food-tray.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Favoris</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/search.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Search food</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/food-tray.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">favoris</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/search.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Search food</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
