<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>discovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >



  <ion-grid   style="margin: 3px;margin-top: 15%;"  >


<ion-row>

  <ion-col>
<ion-card>
    <div class="items"  >

      <div  >

        <ion-img src="assets/restaurant-pin.png" alt="hhh" srcset="" id="im"></ion-img>
      </div>
      <div class="project-name">
     <p>Nearby</p>

      </div>
    </div>
  </ion-card>
  </ion-col>

  <ion-col>
<ion-card>
    <div class="items">

      <div>

        <ion-img src="assets/shopping-bag.png" alt="hhh" srcset="" id="im"></ion-img>
      </div>
      <div class="project-name">
      <p>Mes commandes</p>
      </div>
    </div>
  </ion-card>
  </ion-col>
</ion-row>


<ion-row>

  <ion-col>
    <ion-card>
    <div class="items">

      <div>

        <ion-img src="assets/favorite.png" alt="hhh" srcset="" id="im"></ion-img>
      </div>
      <div class="project-name">
        <p>favoris</p>
      </div>
    </div>
  </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
    <div class="items">

      <div>

        <ion-img src="assets/search.png" alt="hhh" srcset="" id="im"></ion-img>
      </div>
      <div class="project-name">
       <p>Search food</p>
      </div>
    </div>
  </ion-card>
  </ion-col>
</ion-row>


  </ion-grid>


</ion-content>
