<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Discovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="">
      <ion-col size="6">
        <ion-card [routerLink]="['nearby']" class="ion-no-margin">
          <div>
            <ion-img src="assets/restaurant-pin.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Nearby</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['orders-history']" class="ion-no-margin">
          <div>
            <ion-img src="assets/shopping-bag.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Mes commandes</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['favorite-restaurants']" class="ion-no-margin">
          <div>
            <ion-img src="assets/favorite.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">favoris</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/search.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Search food</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/favorite.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">favoris</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <div>
            <ion-img src="assets/search.png"></ion-img>
          </div>
          <div class="project-name">
            <p class="ion-text-center">Search food</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
