<ion-item lines="none" class="ion-padding-horizontal-sm accompat-elt">
  <label slot="start" class="ion-no-margin accompat-elt-name"
    >{{ accompagnement.nom }} :
  </label>
  <div slot="end" class="quantity ion-no-margin">
    <ion-button (click)="decrement()" slot="start" class="accompat-elt-btns">
      -
    </ion-button>
    <span class="accompat-elt-qte ion-margin-horizontal">{{
      accompagnement.quantity
    }}</span>
    <ion-button (click)="increment()" slot="end" class="accompat-elt-btns">
      +
    </ion-button>
  </div>
  <span class="ion-no-margin price" slot="end"
    >{{ accompagnement.prix }}Dhs</span
  >
</ion-item>
