<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-grid>


  <ion-col class="ion-align-self-center" >


    <ion-img src="assets/undraw_cooking_lyxy.svg" alt="hhh" srcset="" id="im"></ion-img>
  </ion-col>
</ion-grid>


  <form>
    <ion-item lines="full">
      <ion-label position="floating" color="grey-text-color" >Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating" color="grey-text-color" >Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="main-yellow" expand="block">Sign In</ion-button><br>
     <div id="create">  <a [routerLink]="['/client-register']"  class="small-text">Creer un compte</a></div>

      </ion-col>
    </ion-row>


  </form>
</ion-content>
