<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="client"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="restaurants">
    <ion-segment-button value="restaurants">
      <ion-label>les restaurants</ion-label>
    </ion-segment-button>
    <ion-segment-button value="clients">
      <ion-label>les plats</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list
    class="ion-padding"
    *ngIf="selectedSegment === 'restaurants'"
    select-on-focus
  >
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Tasty</span>
        <span class="value">5<span>X</span></span>
      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Tasty</span>
        <span class="value">5<span>X</span></span>
      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Tasty</span>
        <span class="value">5<span>X</span></span>
      </article>
    </ion-item>
    <!--  -->
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Tasty</span>
        <span class="value">5<span>X</span></span>
      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Pollos </span>
        <span class="value">4.5<span>X</span></span>
      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Snack X</span>
        <span class="value">4<span>X</span></span>
      </article>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <article class="list-item">
        <img src="assets/restau.jpg" alt="" class="picture" />
        <span class="name">Evan Spiegel</span>
        <span class="value">2<span>X</span></span>
      </article>
    </ion-item>
  </ion-list>

  <ion-list class="ion-padding" *ngIf="selectedSegment === 'clients'">
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Hamburger</span>
        <span class="value">35.7<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Pizza</span>
        <span class="value">15.0<span>DH</span></span>
      </article>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <article class="list-item">
        <img src="assets/hamburger.jpg" alt="" class="picture" />
        <span class="name">Tacos</span>
        <span class="value">20<span>DH</span></span>
      </article>
    </ion-item>
  </ion-list>

  <!-- <article class="leaderboard">
    <main
      class="list-items"
      *ngIf="selectedSegment === 'friends'"
      select-on-focus
    >
       -->
  <!-- </main>

    <main class="list-items" *ngIf="selectedSegment === 'enemies'"></main>
  </article>  -->
</ion-content>
