<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurant"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <ion-grid class="ion-margin-top">
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <form [formGroup]="ionicForm" novalidate (ngSubmit)="submitForm()">
        <ion-item lines="full" class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Nom category
          </ion-label>
          <ion-input
            formControlName="titre"
            id="titre"
            name="titre"
            type="text"
          >
          </ion-input>
          <span
            class="error"
            *ngIf="isSubmitted && errorControl.titre.errors?.required"
          >
            Le nom est obligatoire
          </span>
        </ion-item>

        <ion-item class="ionic-margin-bottom">
          <ion-label color="grey-text-color" position="floating"
            >Description</ion-label
          >
          <ion-textarea
            formControlName="description"
            id="description"
            name="description"
            type="text"
            auto-grow="true"
            rows="5"
          ></ion-textarea>
        </ion-item>

        <ion-item lines="none">
          <input type="hidden" formControlName="image" />
          <span
            class="error"
            *ngIf="isSubmitted && errorControl.image.errors?.required"
          >
            Une image est obligatoire
          </span>
        </ion-item>

        <ion-item
          lines="none"
          class="ion-margin-top ion-margin-horizontal ion-padding-horizontal"
        >
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
            "
          >
            <ion-button
              class="ion-text-center"
              fill="clear"
              expand="full"
              color="primary"
              (click)="selectImage()"
            >
              <ion-icon slot="end" name="camera"></ion-icon>
              {{ images === null ? 'Choisir image' : 'Changer image' }}
            </ion-button>
            <!-- Disabled Checkbox -->
          </div>
        </ion-item>

        <ion-item lines="none" *ngIf="images !== null">
          <ion-thumbnail slot="start">
            <ion-img [src]="images.data"></ion-img>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap"> {{ images.name }} </ion-label>
          <ion-button class="delete" slot="end" (click)="deleteImage(images)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>

        <h3
          *ngIf="images === null"
          style="font-size: 0.9rem"
          class="ion-padding ion-text-center"
        >
          Svp selectionez une image!
        </h3>

        <ion-row class="ion-margin-vertical">
          <ion-col
            style="display: flex"
            class="ion-justify-content-center ion-align-items-center"
          >
            <ion-button
              class="ion-text-capitalize submit"
              type="submit"
              color="main-yellow"
              expand="block"
              shape="round"
              strong="true"
              >Ajouter</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
