<ion-header>
  <ion-toolbar>
    <ion-title>orders-history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <article class="leaderboard" >



    <main class="leaderboard__profiles"  >
      <article class="leaderboard__profile">
        <img src="assets/hamburger.jpg" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Commande<span id="num"  > N:152</span> </span>

        <span class="leaderboard__name">Restaurant: <b> Pollos Her</b> </span>
        <br>

        <span class="leaderboard__name">La date : <b> 20/1/2022</b> </span>

        <span class="leaderboard__value">35.7<span>DH</span></span>
      </article>


      <article class="leaderboard__profile">
        <img src="assets/hamburger.jpg" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Commande<span id="num"  > N:152</span> </span>

        <span class="leaderboard__name">Restaurant: <b> Pollos Her</b> </span>
        <br>

        <span class="leaderboard__name">La date : <b> 20/1/2022</b> </span>

        <span class="leaderboard__value">35.7<span>DH</span></span>
      </article>

      <article class="leaderboard__profile">
        <img src="assets/hamburger.jpg" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Commande<span id="num"  > N:152</span> </span>

        <span class="leaderboard__name">Restaurant: <b> Pollos Her</b> </span>
        <br>

        <span class="leaderboard__name">La date : <b> 20/1/2022</b> </span>

        <span class="leaderboard__value">35.7<span>DH</span></span>
      </article>



    </main>
  </article>

</ion-content>
