<ion-header >
  <ion-toolbar>
    <ion-title>Pizzas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="main-yellow">
      <ion-icon  name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <br><br>



  <ion-grid>
    <ion-row class="">

      <ion-col size="4">
        <ion-card class="ion-no-margin">
            <ion-img src="assets/pizzas.jpg"></ion-img>

            <div class="card-title" style="margin-top: 8px;  font-size: small; margin: 4px;" >Pizza Dinde</div>

        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="ion-no-margin">
          <ion-img src="assets/hamburger2.jpg"></ion-img>
          <div class="card-title"  style="margin-top: 8px; font-size: small; margin: 4px;" >Pizza Viande hachee</div>

      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="ion-no-margin">
          <ion-img src="assets/pizzas.jpg"></ion-img>
          <div class="card-title"  style="margin-top: 8px; font-size: small; margin: 4px ;"   > Pizza chef</div>

      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="ion-no-margin">
          <ion-img src="assets/pizzas.jpg"></ion-img>
          <div class="card-title"  style="margin-top: 8px;  font-size: small; margin: 4px;">Pizza margarita</div>

      </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
