ion-content {
  ion-item.description {
    font-size: 1rem;
  }
}
ion-slides {
  height: 100vw;
  ion-item {
    height: 100%;
    width: 100%;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    ion-img {
      height: 100%;
      width: 100%;
    }
  }
}
.details-content {
  transform: translateY(-6vh);
  z-index: 2;
  position: relative;
  background-color: #fff;
  border-radius: 7% 7% 0 0;

  .meal-name {
    padding-top: 2vh;
    label {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  .accompat {
    header {
      color: var(--ion-color-grey-text-color);
    }
  }
}
ion-fab.buy {
  width: 100%;
  bottom: 0;
  height: 65px;
  ion-button {
    margin: auto;
    height: 90%;
    width: 90%;
    label {
      color: #fff;
      display: block;
      width: 70%;
      float: left;
      margin: 0;
      font-size: 1.2rem;
    }
    label.price {
      font-weight: 600;
      float: right;
      width: 30%;
    }
  }
}
ion-fab.heart {
  right: 10px;
  background-color: transparent;
  --background: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --border: 0;

  ion-fab-button {
    background-color: transparent;
    --background: transparent;
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --box-shadow: 0;
    ion-icon {
      color: #000;
    }
  }
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-header {
  --background: transparent;
  --ion-color-base: transparent !important;
}
.form {
  transform: translateY(-6vh);
  margin-bottom: 10vh;
  ion-button.submit {
    width: 90%;
    height: 45px;
    margin-top: 10%;
    margin-bottom: 20%;
    --border-color: #000;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 2px;
  }
}
.accompat-elt-qte {
  vertical-align: middle;
  height: 100%;
}
.accompat-elt-btns {
  border-radius: 50%;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 3px;
  width: 30px;
  height: 30px;
  --border-radius: 50%;
  background-color: var(--ion-color-light-grey-color);
  --background: var(--ion-color-light-grey-color);
  --background-hover: var(--ion-color-light-grey-color);
  --color: #000;
  font-weight: bold;
  font-size: 1.2rem;
}
ion-content.md {
  top: -56px;
}
ion-content.ios {
  top: -44px;
}
