<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurant"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-slides class="" pager="true">
    <ion-slide>
      <ion-item lines="none">
        <ion-img
          src="assets/side-view-pizza-with-chopped-pepper-board-cookware(1).jpg"
        ></ion-img>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-item lines="none">
        <ion-img src="assets/pexels-pixabay-357756.jpg"></ion-img>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-item lines="none">
        <ion-img src="assets/pexels-nadezhda-moryak-4409273.jpg"></ion-img>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <div class="details-content">
    <header class="meal-name ion-margin-top">
      <ion-item lines="none" class="ion-margin-horizontal">
        <label class="ion-no-margin ion-text-center" slot="start">Pizza</label>
        <div slot="end">
          <ion-button
            (click)="decrement()"
            slot="start"
            class="accompat-elt-btns"
          >
            -
          </ion-button>
          <span class="accompat-elt-qte ion-margin-horizontal"
            >{{ this.qte }}</span
          >
          <ion-button
            (click)="increment()"
            slot="end"
            class="accompat-elt-btns"
          >
            +
          </ion-button>
        </div>
      </ion-item>
    </header>
    <ion-item class="description ion-padding" lines="none">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      repudiandae alias praesentium consequuntur, nihil deserunt consequatur
      vitae numquam minus delectus, dignissimos, nam cupiditate illum placeat
      eius neque quo dolor aspernatur?
    </ion-item>
    <div class="accompat">
      <header class="ion-text-start ion-margin-start">Accompagnants :</header>
      <ion-list class="ion-padding" *ngIf="accompagnements.length !== 0">
        <app-commande-accompagnement
          *ngFor="let acc of accompagnements; let i = index"
          [accompagnement]="acc"
          (accompagnementChange)="handleChanges($event)"
        ></app-commande-accompagnement>
      </ion-list>
    </div>
  </div>

  <div *ngIf="isBuyClicked" class="ion-no-padding ion-margin-bottom form">
    <form [formGroup]="ionicForm" novalidate (ngSubmit)="submitForm()">
      <ion-item>
        <ion-label color="grey-text-color" position="floating"
          >Adresse</ion-label
        >
        <ion-input formControlName="adresse" type="text"> </ion-input>
        <span
          class="error"
          *ngIf="isSubmitted && errorControl.adresse.errors?.required"
        >
          L'adresse est obligatoire
        </span>
      </ion-item>
      <ion-item>
        <ion-label color="grey-text-color" position="floating"
          >Telephone</ion-label
        >
        <ion-input formControlName="phone" type="text"> </ion-input>
        <span
          class="error"
          *ngIf="isSubmitted && errorControl.phone.errors?.required"
        >
          Le numero de telephone est obligatoire
        </span>
      </ion-item>
      <ion-row class="ion-margin-vertical">
        <ion-col
          style="display: flex"
          class="ion-justify-content-center ion-align-items-center"
        >
          <ion-button
            class="ion-text-capitalize ion-no-margin submit"
            type="submit"
            color="main-yellow"
            expand="block"
            shape="round"
            strong="true"
            >Ajouter</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>

  <ion-fab vertical="bottom" slot="fixed">
    <ion-button
      (click)="toggleForm()"
      *ngIf="isBuyClicked; else cancel"
      expand="full"
      shape="round"
      color="main-yellow"
    >
      <label class="price ion-text-end"> Annuler</label>
    </ion-button>
    <ng-template #cancel>
      <ion-button
        (click)="toggleForm()"
        expand="full"
        shape="round"
        color="main-yellow"
      >
        <label class="ion-text-start">Acheter</label>
        <label class="price ion-text-end"> {{ this.total }} MAD </label>
      </ion-button>
    </ng-template>
  </ion-fab>
</ion-content>
